<h1>NAV bar MENU .................. </h1>

<ui5-shellbar id="shellbar" primary-title="Corporate Portal" secondary-title="secondary title" notifications-count="99+"
    show-notifications show-product-switch show-co-pilot>

    <ui5-avatar slot="profile">
        <img src="https://sap.github.io/ui5-webcomponents/assets/images/sap-logo-svg.svg" />
    </ui5-avatar>

    <img slot="logo" src="https://sap.github.io/ui5-webcomponents/assets/images/sap-logo-svg" />
    <ui5-button icon="nav-back" slot="startButton"></ui5-button>

    <ui5-shellbar-item id="disc" icon="disconnected" text="Disconnect"></ui5-shellbar-item>
    <ui5-shellbar-item id="call" icon="incoming-call" text="Incoming Calls" count="4"></ui5-shellbar-item>

    <ui5-input slot="searchField"></ui5-input>

    <ui5-li slot="menuItems">Application 1</ui5-li>
    <ui5-li slot="menuItems">Application 2</ui5-li>
    <ui5-li slot="menuItems">Application 3</ui5-li>
    <ui5-li slot="menuItems">Application 4</ui5-li>
    <ui5-li slot="menuItems">Application 5</ui5-li>

</ui5-shellbar>

<ui5-popover id="popover" placement-type="Bottom">
    <div class="popover-header">
        <ui5-title style="padding: 0.25rem 1rem 0rem 1rem">An Kimura</ui5-title>
    </div>

    <div class="popover-content">
        <ui5-list separators="None">
            <ui5-li icon="sys-find">App Finder</ui5-li>
            <ui5-li icon="settings">Settings</ui5-li>
            <ui5-li icon="edit">Edit Home Page</ui5-li>
            <ui5-li icon="sys-help">Help</ui5-li>
            <ui5-li icon="log">Sign out</ui5-li>
        </ui5-list>
    </div>
</ui5-popover>